<%- include('partial_header.ejs'); %>

<main>
    <form action="/admin/create_event_finish" method="post">
      <div class="container">
        <h1>New Event</h1>
        <p>Please fill in this form to create your event</p>
        <hr>

        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter Email" name="name_event" id="email" required>

        <label for="psw"><b>Superviser</b></label>
        <input type="text" placeholder="Enter Password" name="superviser" id="password" required>

        <label for="email"><b>Start Date & Hour</b></label>
        <input type="text" placeholder="Enter Email" name="start_date" id="email" required>

        <label for="email"><b>End Date & Hours</b></label>
        <input type="text" placeholder="Enter Email" name="end_date" id="email" required>

        <label for="email"><b>Ticket price</b></label>
        <input type="text" placeholder="Enter Email" name="Price" id="email" required>

        Place : <select name="id_place">
          <% for (var p of place) { %>
          <option value="<%= p.Id_place %>"><%= p.Name_place %></option>
          <% } %>
        </select>


        <button type="submit" class="registerbtn">Register</button>
      </div>
    </main>  
    
  </form>
  
    

</div>